@charset "UTF-8";
@import url(normalize.css);
@import url(font-awesome.min.css);
@import url(ed-grid.css);
@font-face {
   font-family: "Arial Black";
   font-style: normal;
   font-weight: normal;
   src: url("../fonts/chesco/ArialBlack.ttf");
}
@font-face {
   font-family: "Champagne&LimousinesItalic";
   font-style: normal;
   font-weight: normal;
   src: url("../fonts/chesco/Champagne&LimousinesItalic.ttf");
}
@font-face {
   font-family: "Champagne&LimousinesBold";
   font-style: normal;
   font-weight: normal;
   src: url("../fonts/chesco/Champagne&LimousinesBold.ttf");
}
@font-face {
   font-family: "Champagne&Limousines";
   font-style: normal;
   font-weight: normal;
   src: url("../fonts/chesco/Champagne&Limousines.ttf");
}
@font-face {
   font-family: "steelfishbd";
   font-style: normal;
   font-weight: normal;
   src: url("../fonts/chesco/steelfishbd.otf");
}
@font-face {
   font-family: "steelfishbdit";
   font-style: normal;
   font-weight: normal;
   src: url("../fonts/chesco/steelfishbdit.otf");
}
@font-face {
   font-family: "steelfisheb";
   font-style: normal;
   font-weight: normal;
   src: url("../fonts/chesco/steelfisheb.otf");
}
@font-face {
   font-family: "steelfishebit";
   font-style: normal;
   font-weight: normal;
   src: url("../fonts/chesco/steelfishebit.otf");
}
@font-face {
   font-family: "steelfishoutline";
   font-style: normal;
   font-weight: normal;
   src: url("../fonts/chesco/steelfishoutline.otf");
}
@font-face {
   font-family: "steelfishrgit";
   font-style: normal;
   font-weight: normal;
   src: url("../fonts/chesco/steelfishrgit.otf");
}

body{
  background: #cb2127 !important;
  font-size: 16px !important;
  color: #ffffff !important;
}

a{
  text-decoration: none;
}

.cabeceraMapa{
  background-color: #A22330;
  margin: 2em 0 !important;
  padding: 0.5em 1em;
}

.tituloCabeceraMapa{
  font-size: 3em;
  font-weight: bold;
  font-family: "steelfishbd";
}

.textoCabecera{
  font-family: "steelfisheb";
  font-size: 1.9em;
  margin-bottom: 0;
}

.cabeceraMapa span{
  float: right;
  position: relative;
  top: -40px;
  font-weight: bold;
  font-family: "steelfishbd";
  font-size: 1.6em;
  color: #000000;
}

.letraIconos{
  font-family: 'Arial Black';
  font-size: 0.5em;
}

.margin-t-b-1em{
  margin: 1em 0;
}

.letra-negro{
  color: #000000;
}

a:hover{
  color: black !important;
  text-decoration: none !important;
}

.redesSociales, .redesSociales a{
  font-size: 0.8em;
  color: #ffffff !important;
}

.br{
  margin: .5em 0;
}

.no-margin{
  margin: 0px;
}

.m-b-1em{
  margin-bottom: 1em !important;
}

.navbar-default {
    background-color: #ffffff !important;
    border-color: #ffffff !important;
    text-align: center !important;
}

.divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.navbar .divider-vertical {
  height: 30px;
  margin: 10px 10px;
  border-left: 1px solid #CB2127;
  border-right: 1px solid #CB2127;
}

.texto-presentacion{
  text-align: justify;
}

ul.navbar-nav a{
  color: #cb2127 !important;
  font-size: 2.2em;
  font-weight: bold;
  font-family: "steelfishbd";
}

.menu{
  width: 102%;
}

.propaganda{
  font-family: steelfishrgit;
  font-size: 2.5em;
  margin: 0.5em;
  text-align: center;
}

.texto-presentacion{
  font-family: "Champagne&LimousinesItalic";
}

.footer{
  font-family: "steelfisheb";
  font-size: 1.5em;
  margin-top: 2em;
}

.desarrolladores{
  font-family: "steelfisheb";
  font-size: 0.7em;
}

.copyRigth a {
  color: #ffffff !important;
}

.texto-presentacion-tablet{
    text-align: center !important;
    padding-bottom: 2em;
}

.logo{
  width: 100%;
}

@media screen and (min-width: 480px) {
  .redesSociales{
    text-align: right;
    padding-top: 2em;
  }

  .propaganda{
    text-align: left;
    margin: 0;
  }

  .texto-presentacion{
    text-align: justify;
    font-size: 1.4em;
  }

  .redesSociales span{
    font-size: 0.5em !important;
  }

  .redesSociales span:first-child{
    padding-right: 1em;
  }
}

.logoTablet{
  padding: 0.5em 0 2em 0;
}
